<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'">
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto facere inventore laudantium maiores, non numquam odit suscipit tempore voluptas? Illum quod ut voluptate. Eius impedit laborum optio sint. Accusamus?
</p>
<img th:src="@{/vistulaLogo.png}" width="600"/>
</body>
</html>